dbt_packages/
logs/
target/
# ignore all data
raw_data/
*.duckdb
*.wal
# ignore secrets
*.env
# ignore notebooks
*.ipynb
# no reason to include VS Code workspace (convenience)
dbt_duckdb.code-workspace
# ignore basic python artifacts
**/__pycache__/
**/*.py[cod]
**/*$py.class