[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-duckdb = "*"
duckdb = "*"
pyodbc = "*"
pandas = "*"
pyarrow = "*"
duckcli = "*"
jupyter = "*"
nodejs = "*"

[dev-packages]

[requires]
python_version = "3.12"
